* {
  padding: 0;
  margin: 0px;
  font-family: 'montserrat', sans-serif;
  box-sizing: border-box;
}

#navigation {
 font-weight: bolder;
 background-color: white;
 padding: 15px
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: inline;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  color: grey;
  font-size: 20px;
}

li a:hover:not(.active){
  opacity: 0.4;
}

.active {
  color: black;
}

.navbar {
  margin-top: 10px;
}

#name {
  color: grey;
}

#hello {
  text-align: center;
  padding: 200px 50px 325px 50px;
  background-image: url(images/header.jpeg);
  background-size: cover;
  font-size: 32px;
  color: white;
  filter: blur(60%);
}

#im {
    font-family: 'lobster', 'montserrat', helvetica, sans-serif;
}

#aboutme {
  border-style: solid;
  color: white;
  border-radius: 5%;
  font-size: 15px;
  width: 110px;
  vertical-align: middle;
  border-width: 2px;
  margin-left: 45%;
  margin-top: 8%;
  font-family: 'rubik', 'montserrat', sans-serif;
  font-weight: bold;
}

#aboutme:hover {
  color: #F4FF81;
}

#title {
  padding-top: 50px;
}

.about {
  color: grey;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 50px;
}

p {
  margin-top: 20px;
  line-height: 30px;
}

h3 {
  text-align: center;
  color: black;
}

.footer {
  background-color: #424242
}

#copyright {
  color: white;
  padding: 10px 10px;
  font size: 10px;
}
